@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

.App {
  font-family: 'Rubik', 'Roboto Condensed';
  text-align: center;
  background-color: rgb(84 82 82);
  margin: 0;
  padding: 0;
  font-size: 20px;
}


